<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p> Splurty was built by <a target="_blank" href="https://github.com/alanunruh/">Alan</a>. It's based off the Splurty quote generator app built as a student in The Firehose Project.</a></p>
  <br/>
  <p>After moving to North Carolina I discovered the true beauty of the Old North State - beaches, mountains, southern charm and bojangles. This is a collection of what makes North Carolina a great place, feel free to add your own insights and spread the love!</p>
  <br/>
  <p>If you want to learn how to code - start <a target="_blank" href="https://www.thefirehoseproject.com/">here</a>.</p>
  <br/>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'alan.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2>Alan Unruh</h2>
      <br/>
      <p>Alan Unruh is a web developer and previously helped mangaged <a target="_blank" href="https://www.globalgolf.com/">GlobalGolf</a>, <a target="_blank" href="https://www.3balls.com/">3Balls</a>, <a target="_blank" href="https://www.taylormadegolfpreowned.com/">TaylorMadeGolfPreowned</a>, <a target="_blank" href="https://www.golfshoesonly.com/">GolfShoesOnly</a> & <a target="_blank" href="https://www.fairwaystyles.com/">FairwayStyles</a>.</p>
    </div>
  </div>
  
</div>

<br class="clear" />
<br/>
<br/>
<br/>
<br/>